@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
}

.container {
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.newsletter-button.button {
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-search.button {
  font-size: 20px;
  line-height: 36px;
  padding: 13px 150px 17px 150px;
  border-radius: 10px;
}

.button-navigation {
  font-size: 16px;
  line-height: 21px;
  width: 160px;
}

.button-navigation:hover,
.button-search:hover,
.button-brown.button-catalog:hover {
  background-color: #615048;
}

.button-navigation:focus,
.button-search:focus,
.button-brown.button-catalog:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.button-navigation:active,
.button-search:active,
.button-brown.button-catalog:active {
  background-color: #615048;
  border: 0;
  opacity: 0.3;
}

.button-green.button-catalog:hover {
  background-color: #6C9E42;
}

.button-green.button-catalog:focus {
  background-color: #6C9E42;
  outline: 3px solid #615048;
}

.button-green.button-catalog:active {
  background-color: #6C9E42;
  border: 0;
  opacity: 0.3;
}

.pagination-link:hover,
.button-blue.button-loading:hover,
.button-blue.button-implement:hover,
.button-blue.newsletter-button:hover,
.button-blue.button-catalog:hover {
  background-color: #68A2CA;
}

.pagination-link:focus,
.button-blue.button-loading:focus,
.button-blue.button-implement:focus,
.button-blue.newsletter-button:focus,
.button-blue.button-catalog:focus {
  background-color: #68A2CA;
  outline: 3px solid #615048;
}

.pagination-link:active,
.button-blue.button-loading:active,
.button-blue.button-implement:active,
.button-blue.newsletter-button:active,
.button-blue.button-catalog:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.house-list-image:hover {
  opacity: 0.6;
}

.house-list-image:focus {
  outline: 3px solid #83B3D3;
}

.house-list-image:active {
  opacity: 0.3;
}

.loading {
  border-top: 1px solid #E6E6E6;
}

.button-loading {
  margin: 30px 216px;
  font-size: 20px;
  line-height: 26px;
  width: 625Px;
  height: 55px;
}

.button-dim {
  border: 2px solid #E6E6E6;
  background-color: #ffffff;
}

.button-light {
  border: 2px solid #000000;
  background-color: #ffffff;
}

.button-navigation {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 9px 31px 10px 31px;
  margin-left: 10px;
}

.button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  width: 450px;
  margin: 0;
  align-items: center;
}

.navigation-user {
  justify-content: flex-end;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 19px 10px 20px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  position: relative;
}

.likes {
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #7DB54F;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 22px;
}

.navigation-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url("../images/navigations/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url("../images/navigations/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  flex-grow: 1;
}

.main-logo {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
}

.logo,
.logo-style {
  display: block;
  margin: 0 auto;
}

.promo {
  padding: 0 240px;
}

.promo {
  padding: 63px 240px 79px 240px;
}

.promo-description {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 23px;
}

.promo-reasons {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.promo-description,
.promo-reasons {
  margin: 0;
}

.line {
  display: flex;
  justify-content: space-between;
}

.basic {
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 400px;
  height: 384px;
}

.basic-title,
.basic-description {
  margin: 0;
  padding: 0px 90px;
} 

.basic-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 98px;
}

.basic-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list,
.reasons-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features-description,
.reasons-description {
  margin: 0;
  padding: 0 75px;
}

.features-color {
  position: relative;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background.png");
  margin: 0;
  width: 400px;
  padding: 0 auto; 
}

.features-other {
  position: relative;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  width: 400px;
  padding: 0 auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 89px auto;
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 184px 75px 0px 75px;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 20px 75px 79px 75px;
  min-height: 73px;
}

.reasons {
  text-align: center;
}

.reasons-color {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background.png");
  width: 400px;
}

.reasons-other {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background.png");
  width: 400px;
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 98px 98px 25px 98px;
  min-height: 60px;
}

.reasons-description-number {
  margin: auto;
  padding: 0px 75px 0px 75px;
  min-height: 25px;
}

.reasons-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  padding: 26px 75px 77px 75px;
  min-height: 73px;
}

.appointment {
  text-align: center;
  margin: 0 auto;
}

.appointment-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 50px;
  margin: 0;
}

.appointment-info {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  min-height: 72px;
  padding: 15px 75px 26px 75px;
}

.appointment-data {
  width: 720px;
  min-height: 235px;
  margin: 0 auto;
  padding: 91px 240px;
}

.newsletter {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/footer-bg.jpg");
  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.mailing {
  width: 800px;
  min-height: 224px;
  margin: auto;
  padding: 94px 200px;
}

.mailing-catalog {
  padding: 58px 200px 138px 200px;
}

.newsletter-form {
  display: flex;
  margin: 0;
}

.newsletter:last-child {
  margin-bottom: 0;
}

.newsletter-item {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
}

.newsletter-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
  margin: 0 auto;
  min-height: 72px;
  padding: 15px 40px 26px 40px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover + .control-mark {
  border-color: #83B3D3;
}

.control-input:disabled + .control-mark {
  border-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.select-control {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  padding: 13px 20px 12px 17px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
}

.select-control-list {
  width: 287px;
  padding: 12px 19px 13px 19px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.select-control-list:hover,
.select-control-list:focus {
  border-color: #83B3D3;
}

.page-footer {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.page-footer-container {
  font-family: "PT Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 40px 0px 30px 0px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  width: 168px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.social-button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
  display: flex;
  align-items: center;
}

.footer-social-item {
  display: flex;
  margin-right: 30px;
}

.htmlacademy-link {
  margin-left: auto;
}

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
}

.contacts-phone:hover,
.navigation-link:hover {
  color: #756257;
}

.contacts-phone:focus,
.navigation-link:focus,
.htmlacademy-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.htmlacademy-link svg:hover {
  fill:  #68A2CA;
}

.search {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  display: flex;
  padding-top: 35px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  height: 60px; 
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 30px;
}



.inner-header {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
}

.filter {
  display: flex;
  width: 1056px;
  min-height: 151px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 83px;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 150px;
  margin-right: 67px;
  padding-bottom: 30px;
}

.filter-item {
  margin-bottom: 13px;
}

.filter-item:nth-child(3n) {
  margin-bottom: 0;
}

.filter-action {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.results {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 45px;
  align-items: center;
  justify-content: center;
}

.sorting {
  margin: 0;
}

.sorting-type  {
  margin-left: auto;
  margin-right: 81px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 2px solid #E6E6E6;
}

.range {
  width: 287px;
}

.range-wrapper-inputs {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.filter-label-min,
.filter-label-max {
  display: flex;
  width: 50%;
  height: 48px;
  position: relative;
}

.filter-label:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px 0px 0px 4px;
} 

.filter-label:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
} 

.filter-input {
  width: 93px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-left: 19px;
  padding-right: 14px;
}

.filter-min,
.filter-max {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

.filter-input::-webkit-outer-spin-button,
.filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: rgba(102, 102, 102);
}

.range-price {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #FFFFFF;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
} 

.range-toggle:active {
  outline: 2px solid #83B3D3;
} 

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.button-implement {
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-color: transparent;
  text-transform: capitalize;
}

.hotel-card {
  position: relative;
}

.hotel-card::after {
  position: absolute;
  width: 1056px;
  height: 0px;
  border: 1px solid #E6E6E6;
}

.hotel-card:first-of-type::after {
  left: 470px;
}

.hotel-card:last-of-type::after {
  left: 430px;
}  

.hotel-card:last-child {
  margin-bottom: 0;
}

.product {
  display: flex;
  margin: 0 auto;
  padding: 31px 0;
  border-top: 1px solid #E6E6E6;
}

.product-photo {
  margin-right: 36px;
}

.product-rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.house-list-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

.house-list-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

.list-price {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  margin-bottom: 31px;
}  

.list,
.button-product {
  display: flex;
}

.button-product {
  margin-top: 31px;
}

.list p {
  width: 50%;
}

.button-catalog {
  font-size: 16px;
  width: 151px;
  height: 37px;
  margin-right: 8px;
  line-height: 37px;
}

.stars {
  margin: 0;
}

.rating {
  width: 160px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  line-height: 37px;
  margin: 0;
}

.rating-info {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  text-align:center;
}

.newsletter-catalog {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.newsletter-item-catalog {
  width: 1200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.newsletter-title-catalog {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.pagination-link pagination-current {
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 31px 0px;
}

.pagination {
  display: flex;
  background-color: #FFFFFF;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  width: 55px;
  height: 55px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
}

.field {
  color: #000000;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  border: 0;
}

.newsletter-email {
  margin: 0;
}

.quantity {
  display: flex;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  align-items: center;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.quantity-type {
  margin-left: 51px;
}

.navigation-item {
  position: relative;
}

.popover {
  position: absolute;
  top: 62px;
  right: 0px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  min-height: 232px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  /*display: none;*/
}

.dropdown-hide {
  display: none;
}

.favourites-item-button {
  background-color: transparent;
}

.favourites-item {
  display: grid;
  grid-template-columns: 65px 244px 41px;
  margin-bottom: 25px;
}

.favourites-item-product {
  display: flex;
  flex-direction: column;
}

.favourites-item-title,
.favourites-item-type {
  margin: 0;
}

.favourites-items-list {
  margin: 0;
  padding: 25px;
}

.favourites-item:nth-child(2n) {
  margin-bottom: 0;
}

.favourites-item-title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.favourites-item-type {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.button-favourites {
  font-size: 16px;
  line-height: 21px;
  width: 400px;
  margin: 0;
  padding: 0;
}

.popover-close-button {
  font-size: 16px;
  font-weight: 700;
  width: 400px;
  padding: 25px;
  border-radius: 0px 0px 20px 20px;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #FFFFFF;
  width: 575px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  border-radius: 30px;
}

.modal-container {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #FFFFFF;
}

.modal-auth {
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0px;
  top: 0px;
  right: 0;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 54px 70px;
} 

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.data-entry,
.data-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.data-entry-field {
  position: relative;
  display: flex;
  border-radius: 4px;
  width: 420px;
}

.calendar {
  position: absolute;
  top: 18px;
  right: 19px;
}

.passenger {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  width: 514px;
}

.modal-search-button {
  font-size: 20px;
  line-height: 40px;
  padding: 10px 0px 10px 0px;
  width: 575px;
  align-items: center;
}

.quantity-adult,
.quantity-children {
  display: flex;
  height: 50px;
}

.button-less {
  appearance: none;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.button-more {
  appearance: none;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: left 19px center;
}

.adult,
.children {
  display: flex;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  align-items: center;
}

.auth-adult {
  width: 155px;
}

.auth-children {
  display: flex;
  width: 50%;
  height: 50px;
  position: relative;
}

.auth-form-field-age {
  width: 20px;
}

.basket {
  opacity: 0.2;
}

.data-form {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  width: 575px;
}

.auth-form-field {
  border-radius: 4px;
}

.note {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  #83B3D3;
  border: 0;
}

.popover-note {
  position: absolute;
  width: 256px;
  min-height: 143px;
  background: #333333;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.window {
  position: absolute;
  margin: 0;
  padding: 15px 18px 18px 22px;
}