@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

ul.reset-list {
  padding: 0;
  list-style: none;
}

.navigation-list {
  width: 450px;
  margin: 0;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-logo {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.promo,
.appointment {
  padding: 0 240px;
}

.promo-description {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.promo-reasons {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.line {
  display: flex;
  justify-content: space-between;
}

.basic {
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 400px;
  height: 384px;

}

.basic-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.basic-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

ul.reset-fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list,
.reasons-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features-description,
.reasons-description {
  margin: 0;
  padding: 0 75px;
}

.features-color {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background.png");
  margin: 0;
  width: 400px;
  padding: 0 auto;
}

.features-other {
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  width: 400px;
  padding: 0 auto;
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}

.reasons {
  text-align: center;
}

.reasons-color {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background.png");
  width: 400px;
}

.reasons-other {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background.png");
  width: 400px;
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.reasons-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.appointment {
  margin: 0;
  padding: 0;
  text-align: center;
}

.appointment-title,
.appointment-info {
  margin: 0;
  padding: 0 240px;
}

.appointment-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.appointment-info {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.newsletter {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/footer-bg.jpg");
  width: 1200px;
  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-footer {
  display: flex;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.page-footer-container {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.page-footer-item {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
}

.footer-social {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.footer-social-list {
  width: 110px;
  margin-right: 57px;
}

.htmlacademy-link {
  margin-left: auto;
  max-width: 185px;
}

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.search {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  display: flex;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
}

.filter {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 150px;
  margin-right: 67px;
}

.results {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  margin-right: 192px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.product {
  display: flex;
  margin: 0 auto;
}

.product-photo {
  padding: 0 36px;
}

.product-rating {
  margin: 0 auto;
  padding: 0;
}

.house-list-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.house-list-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.reyting {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.newsletter-catalog {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.page-footer-item-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.page-footer-title-catalog {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-decoration: none;
}

.pagination-link pagination-current {
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
}

.pagination {
  background-color: #FFFFFF;
}

.pagination-link {
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
}

.field {
  color: #000000;
  background-color: #F2F2F2;;
}
